<footer>
    <footer class="container-fluid">
        <footer style="background-color: rgba(255, 255, 255, 0.884);" class="card border-0 shadow my-5">
            <footer class="card-body p-5">
                <p> <a  href="mailto:negretejorge964@gmail.com"  <button type="button" class="btn btn-primary btn-lg btn-block"  >¿Crees que falto alguien? Mandame un correo y dime quien  crees que falto!!</button> </a></p>
                <br>



                <h3>   &nbsp &nbsp Equipo de Desarrollo : Jorge Alberto  Negrete Villarreal  4E</h3>
            </footer>
        </footer>
    </footer>
</footer>
