{{>header}}
{{>navbar}}

<body>


<div class="container">
    <div style="background-color: rgb(214, 225, 231);" class="card border-5  shadow my-5 ">
        <div class="card-body p-5">

            <h1>{{title}}</h1>

            <br>
            <br>

            <h2>

                Pedro Pablo Rubens es uno de los grandes pintores flamencos del barroco del siglo XVII
                Jan Rubens, su padre, era abogado y funcionario municipal en Amberes. Cuando se convirtió del
                catolicismo al calvinismo tuvo que abandonar Flandes para exiliarse en Siegen (Alemania),
                donde nació Pablo Rubens. A la muerte de su padre en 1587, su madre regresó con sus hijos
                a Amberes y volvieron a convertirse al catolicismo.

                La escasez económica lo llevó a trabajar como paje para la corte hasta que decidió hacerse pintor.
                Su primer aprendizaje artístico fue hacía 1591, con Tobias Verhaecht, un pintor flamenco de paisajes.
                <img  class="imagender" src="images/m23.jpg" >
                Después, se formó en el taller de Adam van Noort y en el de Otto van Veen. Todos ellos eran pintores
                flamencos menores, influidos por el manierismo del siglo XVI de la escuela florentino-romana.


                En 1598, a los 21 años, concluye su formación superando el examen de maestro ante la Guilda de San Lucas de Amberes y
                viaja a Italia para ampliar su formación artística estudiando las obras del Renacimiento. En Venecia se sintió atraído
                por las obras de Tiziano, Veronés y Tintoretto, que tendrán gran influencia en su producción. Allí conoció a un noble
                que le recomendó para trabajar en la corte del duque de Mantua, Vincenzo Gonzaga, quien lo contrató durante un periodo
                de nueve años.


                En 1608, el delicado estado de salud de su madre le obligó a regresar a Amberes. Allí se casó con Isabella Brant en 1609,
                fue considerado el pintor más importante de Flandes y requerido como pintor de corte del archiduque austriaco Alberto y
                de su esposa, la infanta española Isabel, que gobernaban los Países Bajos como virreyes al servicio del rey de España.

                La fama de Rubens se extendió a todas las cortes europeas y recibió tantos encargos que tuvo que crear en su casa un gran
                taller, en el que él sólo realizaba el boceto inicial y los toques finales, mientras que sus aprendices se encargaban de
                las fases intermedias

                En 1628 los virreyes de Flandes lo envían a España. Estuvo al servicio de Felipe IV, quien le nombró secretario de
                su Consejo Privado y fue mentor del joven pintor español Diego Velázquez.

                Finalmente, falleció el 30 de Mayo de 1640 en su casa de Amberes, a punto de cumplir los 63 años. Su pintura ha ejercido
                enorme influencia en otros artistas como Jean Antoine Watteau, Delacroix o Auguste Renoir

                Principales obras de Pedro Pablo Rubens

                El estilo de Rubens se caracteriza por los contrastes de color, de gran riqueza cromática y los juegos de luces
                y sombras. Sus composiciones están llenas de dinamismo, sensualidad y sensibilidad emocional.

                El rapto de las hijas de Leucipo (1616)

                Se trata de un tema mitológico, el rapto de las hijas de Leucipo por Cástor y Pólux.
                <img  class="imagenizq" src="images/m24.jpg" >
                Pintura Barroca flamenca: Rapto de las hijas de Leucipo

                Rubens realizó este lienzo durante los primeros años de su trayectoria artística. Se sitúa en la transición entre
                el clasicismo y el barroco. Mientras la composición es clásica y equilibrada, el sentido de movimiento y dinamismo
                son característicos del barroco.

                Las tres Gracias (1638)

                Es su obra más conocida. Las Tres Gracias se inspiran en tres personajes de la mitología griega: Eufrosine, Talía y
                Anglae, hijas de Zeus y Eurymone. Son la representación de la afabilidad, la simpatía y la delicadeza.

                El tema había sido representado por Rafael durante el Renacimiento y Rubens lo retomó, ofreciendo un planteamiento
                distinto. Mientras las Gracias de Rafael son el prototipo de belleza ideal, las de Rubens lo son de una belleza más
                sensual. Para ello cambia el canon de belleza, sus cuerpos femeninos son blandos y opulentos, caracterizados por la
                flacidez de sus carnes.
                Aunque la obra mantiene la composición del artista italiano, Rubens cambia la relación entre las tres figuras
                conectándolas psicológicamente entre sí a través de los brazos, el velo y sus miradas. Sobre el paisaje de fondo
                se sitúan las tres mujeres, estando la de en medio de espaldas, con la cabeza vuelta y apoyada en sus compañeras.

                En la actualidad el cuadro se conserva en el Museo del Prado de Madrid. Se piensa que una de las figuras es la
                representación de su segunda mujer, Elena Fourment.

                El jardín del Amor (1630-1638)

                Conocida también como El jardín de las Gracias, representa una fiesta en un parque. Las figuras, unas sentadas
                y otras de pie, aparecen en actitud relajada, próximas a una fuente dedicada a la diosa Juno, protectora del
                matrimonio. Alrededor de la escena revolotean los putti disparando flechas.

                Se ha dicho que con este cuadro Rubens hace un homenaje a su esposa Elena Fourment, con la que se casó en 1630.
                Incluso algunos críticos opinan que el caballero de la izquierda es un autorretrato del autor y la dama que apoya
                su brazo sobre otra dama, en la parte central, es Elena Fourment.


            </h2>





            <br>

            <h1>{{pintura}}</h1>

            <br>
            <br>

            <div class="container-fluid"></div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <br>
                        <h4>Medusa</h4>
                        <br>
                        <p>  <img  class="imagen1" src="images/m28.jpeg" ></p>
                    </div>
                    <div class="col">
                        <br>
                        <h4>Las tres Gracias</h4>
                        <br>
                        <p><img  class="imagen1" src="images/m26.jpg" ></p>
                    </div>
                    <div class="col">
                        <br>
                        <h4>El Jardín Del Amor</h4>
                        <br>
                        <p><img  class="imagen1" src="images/m27.jpg" ></p>
                    </div>

                </div>

                <br>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <br>
                            <h4>Saturno</h4>
                            <br>
                            <p>  <img  class="imagen1" src="images/m28.jpg" ></p>
                        </div>
                        <div class="col">
                            <br>
                            <h4> La Elevación De La Cruz </h4>
                            <br>
                            <p>  <img  class="imagen1" src="images/m29.jpg" ></p>
                        </div>

                    </div>







                </div>
            </div>
        </div>



        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="estilo.css">
        <br>
        <div class="row">
        </div>
    </div>
</div>


</body>

{{>footer}}

</html>